{% for animal in animalsOfUser %}

    <div class="bg-card-secondary shadow-xl">
        <section class="px-4 py-4">
            <h3>
            {% if animal.getProfilePhoto %}
                <img class="rounded-full w-24 h-24 mx-auto inline" src="{{asset('uploads/animals/profilephoto/' ~ animal.getProfilePhoto())}}" />
            {% else %}
                <img class="rounded-full w-24 h-24 mx-auto inline" src="{{asset('images/default/dog.JPG')}}" />  
            {% endif %}
                <span class="ml-4 font-bold inline">{{ animal.name }}</span>, {{ animal.getBreedId().name }}</h3>
            <hr class="w-1/2 my-2">
            <h4 class="font-semibold">{% trans %}Anniversaire{% endtrans %} : </h4><p class="ml-2">{{animal.getAge()}}</p>
            <h4 class="font-semibold">{% trans %}Poids{% endtrans %} : </h4><p class="ml-2">{{animal.weight}} Kg</p>
            {% for vaccine in animal.getVaccinateds() %}
                {% if vaccine.GetNextRecall != null %}
                    {% for vaccineId in vaccine.getVaccineId() %}
                        <h4 class="font-semibold">{% trans %}Prochain vaccin {% endtrans %} {{ vaccineId.getName()}} : </h4><p class="ml-2">{{vaccine.GetNextRecall()|date("d/m/Y")}}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </section>
        <a class="float-right bg-primary p-2 text-white mx-4 my-4" href="https://www.i-cad.fr/" target="_blank" button class="" >I-CAD</button></a>
        <a class="float-right bg-primary p-2 text-white mx-4 my-4" href="{{path('edit_animal', {id: animal.id})}}"<button class="" >{% trans %}Modifier{% endtrans %}</button></a>
        <a class="float-right bg-primary p-2 text-white mx-4 my-4" animal-id="{{animal.id}}" onclick="askDelete({{animal.id}})"><button class="" >{% trans %}Supprimer{% endtrans %}</button></a>
    </div>
{% endfor %}