{% extends 'base.html.twig' %}
{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block title %}{% trans %}Mon animal{% endtrans %}{% endblock %}

{% block javascripts %}
            <script src="{{ asset('js/ModalConfirmationDelete.js') }}"></script>
            <script src="{{ asset('js/AddingDateVaccine.js') }}"></script>
{% endblock %}

{% block body %}
    <h2>{% trans %}Mon animal{% endtrans %}</h2>
    <div class="bg-card-secondary grid grid-cols-2 shadow-lg mx-3.5">
        <div>
            {{form_start(form)}}
                <div class="mx-2 my-2">                    
                    <label class="block">{{field_label(form.name)|trans}}</label>                    
                    <input name="{{field_name(form.name)}}" value="{{field_value(form.name)}}" class="w-full input-focus-red">
                    <span class="error-form">{{ form_errors(form.name) }}</span>
                </div>
                <div class="mx-2 my-2">
                    <label class="block">{{field_label(form.birthday)|trans}}</label>
                    <input type="date" name="{{field_name(form.birthday)}}" value="{{field_value(form.birthday)}}" class="w-full input-focus-red">
                    <span class="error-form">{{ form_errors(form.birthday) }}</span>
                </div>
                <div class="mx-2 my-2">
                    <label class="block">{{field_label(form.weight)|trans}}</label>
                    <input type="number" name="{{field_name(form.weight)}}" value="{{field_value(form.weight)}}" class="w-full input-focus-red">
                    <span class="error-form">{{ form_errors(form.weight) }}</span>
                </div>
                <div class="mx-2 my-2">
                    <label class="block">{{field_label(form.breed_id)|trans}}</label>
                    {{ form_widget(form.breed_id) }}
                    <span class="error-form">{{ form_errors(form.breed_id) }}</span>
                </div>
                <div class="mx-2 my-2">
                    <label class="block">{{field_label(form.profilePhoto)|trans}}</label>
                    <input type="file" name="{{field_name(form.profilePhoto)}}" value="{{field_value(form.profilePhoto)}}" class="w-full">
                    <span class="error-form">{{ form_errors(form.profilePhoto) }}</span>
                </div>
                <div class="mx-2 my-2 ">
                    <label class="block">{% trans %}Vaccins{% endtrans %}</label>
                    <div class="grid grid-cols-4 gap-2.5">
                        {% for vaccinated in form.vaccinateds %}
                            <div class="">
                                {% for vaccine in vaccinated.vars.value.getVaccineId() %}
                                    {{ form_label(form.name, vaccine.name) }}
                                {% endfor %}
                                {{ form_widget(vaccinated) }}
                                <span class="error-form">{{ form_errors(vaccinated) }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="my-2 mx-2 float-right">
                    <button type="submit" id="{{field_label(form.save)}}" name="{{field_name(form.save)}}" class="bg-primary p-2 text-white min-w-11">
                        {% trans %}Modifier{% endtrans %}
                    </button>
                </div>
            {{form_end(form)}}
        </div>
        <div>
            <img src="{{asset('images/default/dog.JPG')}}" class="w-full h-full object-cover" alt="dog"/>
        </div>
    </div>
    {{ include ('partial/messages/delete-message.html.twig') }}

    <div class="grid grid-cols-2 gap-8 mx-3.5 mt-3.5">
        {{ include ('partial/animals/list-animals-by-user.html.twig', {animalsOfUser: animalsOfUser}) }}
    </div>
{% endblock %}
