{% extends 'base.html.twig' %}
{% form_theme form 'tailwind_2_layout.html.twig' %}
{% form_theme formCat 'tailwind_2_layout.html.twig' %}

{% block title %}{% trans %}Mon animal{% endtrans %}{% endblock %}

{% block javascripts %}
            <script src="{{ asset('js/ModalConfirmationDelete.js') }}"></script>
            <script src="{{ asset('js/AddingDateVaccine.js') }}"></script>
            <script src="{{ asset('js/ManageTabForm.js') }}"></script>
{% endblock %}

{% block body %}
    {% if animalsOfUser|length > 1 %}
        <h1 class="text-3xl font-bold my-3.5 mx-4">Mes animaux</h1>
    {% else %}
        <h1 class="text-3xl font-bold my-3.5 mx-4">Mon animal</h1>
    {% endif %}
    {{ include ('partial/messages/flash-message.html.twig') }}
    <div class=" mx-3.5 tab flex" animal-is="{{animalTypeCat}}">
        <button class="tabLinks active" onclick="openForm(event, 'Dog')">Ajouter un chien</button>
        <button class="tabLinks" onclick="openForm(event, 'Cat')" id="cat">Ajouter un chat</button>
    </div>
    <div class="bg-card-secondary grid grid-cols-1 lg:grid-cols-2 shadow-lg mx-3.5 tabcontent tabcontent-active" id="Dog">
        <div class="mx-4">
            {{ include ('partial/forms/form-dog.html.twig', {form: form}) }}            
        </div>
        <div class="hidden lg:grid">
            <img src="{{asset('images/default/dog.JPG')}}" class="w-full h-full object-cover" alt="dog"/>
        </div>
    </div>
    <div class="bg-card-secondary grid grid-cols-1 lg:grid-cols-2 shadow-lg mx-3.5 tabcontent" id="Cat">
        <div>
            {{ include ('partial/forms/form-cat.html.twig', {formCat: formCat}) }}            
        </div>
        <div class="hidden lg:grid">
            <img src="{{asset('images/default/cat.JPG')}}" class="w-full h-full object-cover" alt="dog"/>
        </div>
    </div>
    {{ include ('partial/messages/delete-message.html.twig') }}

    <div class="grid grid-cols-2 gap-8 mx-3.5 mt-3.5">
        {{ include ('partial/animals/list-animals-by-user.html.twig', {animalsOfUser: animalsOfUser}) }}
    </div>
{% endblock %}
