{% extends 'base.html.twig' %}
{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block title %}My animal{% endblock %}

{% block body %}
    <h2>My animal</h2>
    <div class="bg-button-menu grid grid-cols-2">
        <div>
            {{form_start(form)}}
                <div class="mx-2">
                    <label class="block">{{field_label(form.name)}}</label>
                    <input name="{{field_name(form.name)}}" value="{{field_value(form.name)}}" class="w-full input-focus-red">
                </div>
                <div class="mx-2">
                    <label class="block">{{field_label(form.birthday)}}</label>
                    <input type="date" name="{{field_name(form.birthday)}}" value="{{field_value(form.birthday)}}" class="w-full input-focus-red">
                </div>
                <div class="mx-2">
                    <label class="block">{{field_label(form.breed_id)}}</label>
                    <select name="{{field_name(form.breed_id)}}" value="{{field_value(form.breed_id)}}" class="w-full input-focus-red">
                         {% for label, value in field_choices(form.breed_id) %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="my-2 mx-2 float-right">
                    <button type="submit" id="{{field_label(form.save)}}" name="{{field_name(form.save)}}" class="bg-primary p-2 text-white min-w-11">
                        Add
                    </button>
                </div>
                {{ form_rest(form) }}
            {{form_end(form)}}
            
        </div>
        <div>
            <img src="{{asset('images/default/dog.JPG')}}" class="w-full h-full object-cover" alt="dog"/>
        </div>
    </div>
{% endblock %}
