{{form_start(form)}}
    <div class="mx-2 my-2">                    
        <label class="block">{{field_label(form.name)|trans}}</label>                    
        <input name="{{field_name(form.name)}}" value="{{field_value(form.name)}}" class="w-full input-focus-red" required>
        <span class="error-form">{{ form_errors(form.name) }}</span>
    </div>
    <div class="mx-2 my-2">
        <label class="block">{{field_label(form.birthday)|trans}}</label>
        <input type="date" name="{{field_name(form.birthday)}}" value="{{field_value(form.birthday)}}" class="w-full input-focus-red" required>
        <span class="error-form">{{ form_errors(form.birthday) }}</span>
    </div>
    <div class="mx-2 my-2">
        <label class="block">{{field_label(form.weight)|trans}}</label>
        <input type="number" step="0.1" name="{{field_name(form.weight)}}" value="{{field_value(form.weight)}}" class="w-full input-focus-red" required>
        <span class="error-form">{{ form_errors(form.weight) }}</span>
    </div>
    <div class="mx-2 my-2">
        <label class="block">{{field_label(form.breed_id)|trans}}</label>
        {{ form_widget(form.breed_id) }}
        <span class="error-form">{{ form_errors(form.breed_id) }}</span>
    </div>                
    <div class="mx-2 my-2">
        <label class="block">{{field_label(form.sexe)|trans}}</label>
        {{ form_widget(form.sexe) }}
        <span class="error-form">{{ form_errors(form.sexe) }}</span>
    </div>
    <div class="mx-2 my-2">
        <label class="block">{{field_label(form.sterilized)|trans}}</label>
        {{ form_widget(form.sterilized) }}
        <span class="error-form">{{ form_errors(form.sterilized) }}</span>
    </div>
    <div class="mx-2 my-2">
        <label class="block">{{field_label(form.profilePhoto)|trans}}</label>
        <input type="file" name="{{field_name(form.profilePhoto)}}" value="{{field_value(form.profilePhoto)}}" class="w-full">
        <span class="error-form">{{ form_errors(form.profilePhoto) }}</span>
    </div>
    <div class="mx-2 my-2 ">
        <label class="block">{% trans %}Vaccins{% endtrans %}</label>
        <div class="grid grid-cols-4 gap-2.5">
            {% for vaccinated in form.vaccinateds %}
                <div class="">
                    {% for vaccine in vaccinated.vars.value.getVaccineId() %}
                        {{ form_label(form.name, vaccine.name) }}
                    {% endfor %}
                    {{ form_widget(vaccinated) }}
                    <span class="error-form">{{ form_errors(vaccinated) }}</span>
                </div>
                {% endfor %}
        </div>
    </div>
    <div class="mx-2 my-2">                 
        {% if form.add_veterinary is defined %}
            <label class="block">{{field_label(form.add_veterinary)|trans}}</label>                
            <div class="grid grid-cols-2 gap-2.5">
                <div class="col-span-2">
                    <label class="block">{{field_label(form.add_veterinary.name)|trans}}</label>
                    {{ form_widget(form.add_veterinary.name) }}
                    <span class="error-form">{{ form_errors(form.add_veterinary.name) }}</span>
                </div>
                <div class="col-span-2">
                    <label class="block">{{field_label(form.add_veterinary.adress)|trans}}</label>
                    {{ form_widget(form.add_veterinary.adress) }}
                    <span class="error-form">{{ form_errors(form.add_veterinary.adress) }}</span>
                </div>
                <div class="">
                    <label class="block">{{field_label(form.add_veterinary.postalCode)|trans}}</label>
                    {{ form_widget(form.add_veterinary.postalCode) }}
                    <span class="error-form">{{ form_errors(form.add_veterinary.postalCode) }}</span>
                </div>
                <div class="">
                    <label class="block">{{field_label(form.add_veterinary.city)|trans}}</label>
                    {{ form_widget(form.add_veterinary.city) }}
                    <span class="error-form">{{ form_errors(form.add_veterinary.city) }}</span>
                </div>
                <div class="">
                    <label class="block">{{field_label(form.add_veterinary.phone)|trans}}</label>
                    {{ form_widget(form.add_veterinary.phone) }}
                    <span class="error-form">{{ form_errors(form.add_veterinary.phone) }}</span>
                </div>
            </div>                
        {% else %}
            <div>
                <label class="block">{{field_label(form.veterinary)|trans}}</label>
                {{ form_widget(form.veterinary) }}
                <span class="error-form">{{ form_errors(form.veterinary) }}</span>
            </div>
        {% endif %}
    </div>
    <div class="my-2 mx-2 float-right">
        <button type="submit" id="{{field_label(form.save)}}" name="{{field_name(form.save)}}" class="bg-primary p-2 text-white min-w-11">
            {% trans %}Ajouter{% endtrans %}
        </button>
    </div>
        {{form_rest(form)}}
{{form_end(form)}}