{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% if app.user %}
    <h1 class="text-3xl font-bold my-3.5 mx-4">
    {% if animalsOfTheUser %}
        Bonjour, 
        {% for animal in animalsOfTheUser %}            
            {% if loop.last %}
                {{animal.name}}
            {% else %}
                {{animal.name}},
            {% endif %}            
        {% endfor %}
    {% else %}
        Bonjour !
    {% endif %}
    </h1>
    <div class="mx-4">
        {{ include ('partial/animal-resume.html.twig', {animalsOfTheUser: animalsOfTheUser}) }}
    </div>
    <div class="mx-4">
        <h2 class="text-center uppercase my-3.5">Derniers articles</h2>
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-2.5 mx-1">
            <div class="relative">
                <img src="{{asset('images/default/dog.JPG')}}" class="w-full h-full object-cover" alt="titre de l'article"/>
                <div class="absolute z-20 bg-text/40 h-2/6 w-full bottom-0">
                    <h3 class="text-white ml-2.5 uppercase mt-1">Titre de l'article</h3>
                    <p class="text-white mt-1 ml-1">résumé de l'articles....</p>
                </div>
            </div>
            <div class="relative">
                <img src="{{asset('images/default/dog.JPG')}}" class="w-full h-full object-cover" alt="titre de l'article"/>
                <div class="absolute z-20 bg-text/40 h-2/6 w-full bottom-0">
                    <h3 class="text-white ml-2.5 uppercase mt-1">Titre de l'article</h3>
                    <p class="text-white mt-1 ml-1">résumé de l'articles....</p>
                </div>
            </div>
            <div class="relative">
                <img src="{{asset('images/default/dog.JPG')}}" class="w-full h-full object-cover" alt="titre de l'article"/>
                <div class="absolute z-20 bg-text/40 h-2/6 w-full bottom-0">
                    <h3 class="text-white ml-2.5 uppercase mt-1">Titre de l'article</h3>
                    <p class="text-white mt-1 ml-1">résumé de l'articles....</p>
                </div>
            </div>
            <div class="relative">
                <img src="{{asset('images/default/dog.JPG')}}" class="w-full h-full object-cover" alt="titre de l'article"/>
                <div class="absolute z-20 bg-text/40 h-2/6 w-full bottom-0">
                    <h3 class="text-white ml-2.5 uppercase mt-1">Titre de l'article</h3>
                    <p class="text-white mt-1 ml-1">résumé de l'articles....</p>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3.5 bg-button-menu mx-4">
        <h2 class="text-3xl font-bold my-3.5 mx-4 text-center">Prochaines sorties</h2>
        <hr class="hr-ride w-1/2 mx-auto">
        {{ include ('partial/ride/list-of-ride.html.twig', {rides: rides}) }}
    </div>
    {% endif %}
{% endblock %}