<script src="{{ asset('js/carrousel.js') }}"></script>

<div class="relative w-full h-52 mx-auto bg-button-menu lg:hidden">

    {% for animal in animalsOfTheUser %}
        {% if loop.first %}
            <div class="slide relative h-40 flex flex-row justify-center items-center mx-14 my-4">
                <div class="mx-4">
                    <img src="{{asset('images/default/dog.JPG')}}" alt="nom de l'animal" class="w-28 h-28 rounded-full"/>
                </div>
                <div class="mx-4">
                    <h2><span class="font-bold">{{ animal.name }}</span>, {{ animal.getBreedId().name }}</h2>
                    <h4 class="font-semibold ml-4 inline">{% trans %}Anniversaire{% endtrans %} : </h4><p class="ml-2 inline">{{animal.getAge()}}</p><br/>
                    <h4 class="font-semibold ml-4 inline">{% trans %}Poids{% endtrans %} : </h4><p class="ml-2 inline">{{animal.weight}} Kg</p><br/>
                    <h4 class="font-semibold ml-4 inline">{% trans %}Prochain vaccin{% endtrans %} : </h4><p class="ml-2 inline">{{animal.birthday|date("d/m/Y")}}</p><br/>
                    <h4 class="font-semibold ml-4 inline">{% trans %}RDV vétérinaire{% endtrans %} : </h4><p class="ml-2 inline">{{animal.birthday|date("d/m/Y")}}</p>
                </div>
            </div>
        {% else %}
            <div class="slide hidden relative h-40 flex flex-row justify-center items-center mx-14 my-4">
                <div class="mx-4">
                    <img src="{{asset('images/default/dog.JPG')}}" alt="nom de l'animal" class="w-28 h-28 rounded-full"/>
                </div>
                <div class="mx-4">
                    <h2><span class="font-bold">{{ animal.name }}</span>, {{ animal.getBreedId().name }}</h2>
                    <h4 class="font-semibold ml-4 inline">{% trans %}Anniversaire{% endtrans %} : </h4><p class="ml-2 inline">{{animal.getAge()}}</p><br/>
                    <h4 class="font-semibold ml-4 inline">{% trans %}Poids{% endtrans %} : </h4><p class="ml-2 inline">{{animal.weight}} Kg</p><br/>
                    <h4 class="font-semibold ml-4 inline">{% trans %}Prochain vaccin{% endtrans %} : </h4><p class="ml-2 inline">{{animal.birthday|date("d/m/Y")}}</p><br/>
                    <h4 class="font-semibold ml-4 inline">{% trans %}RDV vétérinaire{% endtrans %} : </h4><p class="ml-2 inline">{{animal.birthday|date("d/m/Y")}}</p>
                </div>
            </div>   
        {% endif %}
    {% endfor %}

    <!-- The previous button -->
    <a class="absolute left-0 top-1/2 p-4 -translate-y-1/2 bg-black/30 hover:bg-black/50 hover:text-amber-500 cursor-pointer"
        onclick="moveSlide(-1)">❮</a>

    <!-- The next button -->
    <a class="absolute right-0 top-1/2 p-4 -translate-y-1/2 bg-black/30 hover:bg-black/50 hover:text-amber-500 cursor-pointer"
        onclick="moveSlide(1)">❯</a>

        <!-- The dots -->
    <div class="flex justify-center items-center space-x-2.5">.
        {% for animal in animalsOfTheUser %}
            {% if loop.first %}
                <div class="dot w-4 h-4 rounded-full cursor-pointer bg-background" onclick="currentSlide({{loop.index}})"></div>
            {% else %}
                <div class="dot w-4 h-4 rounded-full cursor-pointer bg-text" onclick="currentSlide({{loop.index}})"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="w-full hidden lg:grid grid-cols-6 gap-2.5 mx-auto">
    {% for animal in animalsOfTheUser %}
        <div class="h-96 shadow-lg parent-hover">            
            <div class=" h-1/3 flex justify-center items-center bg-bg-card  rounded-t-lg child-hover">
                <h2><span class="font-bold">{{ animal.name }}</span>, {{ animal.getBreedId().name }}</h2>
            </div>            
            <div class="bg-button-menu h-2/3 rounded-b-lg">
                <img src="{{asset('images/default/dog.JPG')}}" class="relative rounded-full w-24 h-24 mx-auto -top-12 border border-background" alt="{{animal.name}}"/>
                <h4 class="font-semibold ml-4 inline">{% trans %}Anniversaire{% endtrans %} : </h4><p class="ml-2 inline">{{animal.getAge()}}</p><br/>
                <h4 class="font-semibold ml-4 inline">{% trans %}Poids{% endtrans %} : </h4><p class="ml-2 inline">{{animal.weight}} Kg</p><br/>
                <h4 class="font-semibold ml-4 inline">{% trans %}Prochain vaccin{% endtrans %} : </h4><p class="ml-2 inline">{{animal.birthday|date("d/m/Y")}}</p><br/>
                <h4 class="font-semibold ml-4 inline">{% trans %}RDV vétérinaire{% endtrans %} : </h4><p class="ml-2 inline">{{animal.birthday|date("d/m/Y")}}</p>
            </div>
        </div>
    {% endfor %}
</div>




