<nav class="fixed lg:static bottom-0 z-50 w-full h-16 lg:top-0 text-base max-w-full lg:z-0">
    <div class="grid h-full grid-cols-1 mx-auto justify-items-center">
        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="semi-circle bg-primary shadow-t lg:rounded-none lg:w-full lg:h-16 lg:shadow-none lg:flex lg:items-center lg:justify-end">
                <ul class="lg:hidden flex flex-auto flex-row">
                    <li class="rounded-full bg-button-menu p-2 menu-icon-profil"><a href="{{path('app_profil')}}"><img class="max-w-10" 
                    alt="Profil" src="{{ asset('images/icons/user.svg') }}" /></a></li>
                    <li class="rounded-full bg-button-menu p-2 menu-icon-animal"><a href="{{path('animal')}}"><img class="max-w-10" 
                    alt="Animal" src="{{ asset('images/icons/animal.svg') }}" /></a></li>
                    <li class="rounded-full bg-button-menu p-2 menu-icon-home"><a href="{{path('index')}}"><img class="max-w-10" 
                    alt="Home" src="{{ asset('images/icons/home.svg') }}" /></a></li>
                    <li class="rounded-full bg-button-menu p-2 menu-icon-ride"><a href="{{path('index')}}"><img class="max-w-10" 
                    alt="Ride" src="{{ asset('images/icons/ride.svg') }}" /></a></li>
                    <li class="rounded-full bg-button-menu p-2 menu-icon-advice"><a href="{{path('index')}}"><img class="max-w-10" 
                    alt="Advice" src="{{ asset('images/icons/advice.svg') }}" /></a></li>                    
                </ul>
                <ul class="hidden lg:flex text-background">
                    <li class="mx-4"><a class="flex items-center" href="{{path('index')}}"><img class="max-w-10 rounded-full bg-button-menu p-2 menu-icon-home mr-1" 
                    alt="Home" src="{{ asset('images/icons/home.svg') }}" />{%trans%}Accueil{%endtrans%}</a></li>
                    <li class="mx-4"><a class="flex items-center" href="{{path('app_profil')}}"><img class="max-w-10 rounded-full bg-button-menu p-2 menu-icon-profil mr-1" 
                    alt="Profil" src="{{ asset('images/icons/user.svg') }}" />{%trans%}Profil{%endtrans%}</a></li>
                    <li class="mx-4"><a class="flex items-center" href="{{path('animal')}}"><img class="max-w-10 rounded-full bg-button-menu p-2 menu-icon-animal mr-1" 
                    alt="Animal" src="{{ asset('images/icons/animal.svg') }}" />{%trans%}Animal{%endtrans%}</a></li>
                    <li class="mx-4"><a class="flex items-center" href="{{path('index')}}"><img class="max-w-10 rounded-full bg-button-menu p-2 menu-icon-ride mr-1" 
                    alt="Ride" src="{{ asset('images/icons/ride.svg') }}" />{%trans%}Balade{%endtrans%}</a></li>
                    <li class="mx-4"><a class="flex items-center" href="{{path('index')}}"><img class="max-w-10 rounded-full bg-button-menu p-2 menu-icon-advice mr-1" 
                    alt="Advice" src="{{ asset('images/icons/advice.svg') }}" />{%trans%}Conseil{%endtrans%}</a></li>
                    <li class="mx-4"><a class="flex items-center" href="{{path('app_logout')}}"><img class="max-w-10 rounded-full bg-button-menu p-2 menu-icon-advice mr-1" 
                    alt="Advice" src="{{ asset('images/icons/logout.svg') }}" />{%trans%}Déconnexion{%endtrans%}</a></li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>